.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--color-bg-primary);
  min-width: 0;
  padding-top: var(--topbar-height);
}

.main-content > * {
  min-width: 0;
}
